<%- include('partials/header'); -%>

<br><br><br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<div class="container" style="margin-top: 10vmin;">
	
<form style="padding: 100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);font-family: 'Varela Round', sans-serif;" method="post" action="/Result">
	<h1 style="font-family: 'Dancing Script', cursive;">Analysis</h1><hr>
  <div class="form-row">
    
    <div class="form-group col-md-6">
      <div class="col-auto">
        <label class="mr-sm-2" for="companyName">&nbsp;Name of Company</label>
        <select class="custom-select mr-sm-2" id="companyName" name="companyName" onchange="getData()">
          <option>Choose...</option>
        </select>
        <script>
          var myArray = new Array('AAPL', 'MSFT', 'GOOG', 'GOOGL', 'ADSK', 'AMZN', 'FB', 'TSLA', 'TSM', 'NVDA', 'V', 'JPM', 'JNJ', 'BABA', 'WMT', 'UNH', 'BAC', 'MA', 'PG', 'HD', 'ASML', 'PYPL', 'DIS', 'ADBE', 'CMCSA', 'BBL', 'BHP', 'BMY', 'C', 'CHTR', 'CVX', 'HDB', 'HON', 'INTU', 'LIN', 'MCD', 'MDT', 'MRNA', 'MS', 'NEE', 'PM', 'QCOM', 'RY', 'SAP', 'SE', 'SHOP', 'TMUS', 'TXN', 'UPS', 'NKE', 'PFE', 'CRM', 'LLY', 'CSCO', 'ORCL', 'NFLX', 'TM', 'KO', 'NVO', 'XOM', 'DHR', 'VZ', 'ABT', 'INTC', 'TMO', 'PEP', 'ABBV', 'ACN', 'NVS', 'WFC', 'COST', 'AVGO', 'T', 'MRK', 'UL', 'UNP', 'LOW', 'BLK', 'SCHW', 'GS', 'SBUX', 'AXP', 'AMD', 'SONY', 'SNY', 'BA', 'RTX', 'AMT', 'AMGN', 'IBM', 'ISRG', 'TD', 'NOW', 'SQ', 'TGT', 'PDD', 'RIO', 'EL', 'AMAT', 'BUD', 'JD', 'SNAP');
          var dropdown = document.getElementById("companyName");

          // Loop through the array
          for (var i = 0; i < myArray.length; ++i) {
              // Append the element to the end of Array list
              dropdown[dropdown.length] = new Option(myArray[i], myArray[i]);
          }
        </script>
      </div>
    </div>

      <div class="form-group col-md-6">
        <div class="col-auto">
          <label class="mr-sm-2" for="graphType">&nbsp;Type of Analysis</label>
          <select class="custom-select mr-sm-2" id="graphType" name="graphType" onchange="getData()">
            <option selected disabled>Choose...</option>
            <option value="OHLC">OHLC</option>
            <option value="Candlestick charts">Candlestick charts</option>
            <option value="Colored Bar">Colored Bar</option>
            <option value="Vertex Line">Vertex Line</option>
            <option value="Hollow Candle">Hollow Candle</option>
          </select>
        </div>
      
      
      
    
  </div>
  <div class="form-group col-md-6">
    <label for="fromDate">&nbsp;From</label>
    <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="Intial" required>
  </div>
  <div class="form-group col-md-6">
    <label for="toDate">&nbsp;To</label>
    <input type="date" class="form-control" id="toDate" name="toDate" placeholder="Final" required>
  </div>
  

 
  
 
  <div class="row d-flex justify-content-between">
  	<div class="col-md-8">
  		<button type="submit" class="btn btn-primary" style="width: 250px" onclick="getData()"><span>Result</span></button>
  	</div>
  	<div class="col-md-4">
  		<br>
  	</div>
  	
  </div>
</form>

</div>


  <!--<script type="text/javascript" src="..public/end.js"></script>
  <script type="text/javascript" src="..public/script.js"></script>-->
  

<script>
  

  function getData() {
    let companyDropDown, graphDropDown, fromDate, toDate;
    companyDropDown = document.getElementById("companyName");
    let companyName = companyDropDown.options[companyDropDown.selectedIndex].text;
    graphDropDown = document.getElementById("graphType");
    let graphType = graphDropDown.options[graphDropDown.selectedIndex].text;
    fromDate = document.getElementById("fromDate");
    toDate = document.getElementById("toDate");
    console.log(companyName, graphType, fromDate, toDate);
}
</script>
<!-- <script type="text/javascript" src="../public/end.js"></script>
<script type="text/javascript" src="../public/script.js"></script> -->
<br><br>


<%- include('partials/footer'); -%>